<!-- Basic template to list host status-->
<html> 
<head><title>Status</title></head>

<body>

    <div> 
        <h1>Host Status</h1>
        {{range .}}
        <div>
            <h2>Host/Port: {{.Hostname}}/{{.Port}} Status:{{.IsUp}}</h2>
        
        </div>
        {{end}}
    </div>
</body>


</html>